body{
background-color: rgb(230, 123, 224);
}

#banner {
    width: 30%;
    display: block;
}
.principal{
    background:white;
    padding: 30px;
}
.titulo-principal {
    padding-left: 20px;
}
.titulo-centralizado {
   text-align: center;
}
 
p {
    text-align: center;
    font-size:  20px;
}
em strong {
    color: red;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

h1{
font-size: 50px;
text-align: center;
color: rgb(197, 86, 11))
}

p {
font-size: 20px;
text-align: center;
color: rgb(20, 20, 20);
}
