body{
background-color: rgb(230, 123, 224);
}
.header{
    padding: 10px ;
    background-color: antiquewhite;
}
.cabecalho {
    text-align: center;
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    border-bottom: 2px solid black;

}
.cabecalho-imagem {
    width: 10%;
    height: 10%;
    text-align: center;
    border-radius: 10px;
}

.titulo-centralizado {
   text-align: center;
}
 
p {
    text-align: center;
    font-size:  20px;
}
em strong {
    color: red;
}

.itens {
    font-style: italic;
}


h2{
font-size: 50px;
text-align: center;
color: rgb(197, 86, 11))
}

p {
font-size: 20px;
text-align: center;
color: rgb(20, 20, 20);
}
#avatar {
    width: 30%;
    height: 60%;
    margin: 0px;
    padding: 5px;
    border: 8px solid white;
    border-radius: 10px;
    text-align: center;

}